flask
flask-cors
flask-socketio
websocket-client
python-dotenv
yfinance
pandas
numpy
mplfinance
scikit-learn
requests
joblib
cachetools
vaderSentiment
matplotlib
tensorflow
polygon-api-client
ta
apscheduler
xgboost