flask
flask-cors
flask-socketio
gunicorn[eventlet]==23.0.0
eventlet==0.40.3
websocket-client
python-dotenv
yfinance
pandas
numpy
mplfinance
scikit-learn
requests
joblib
cachetools
vaderSentiment
matplotlib
tensorflow
polygon-api-client
ta
apscheduler
xgboost
optuna
