/* .home-layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .stock-results-header {
    margin-top: 20px;
    text-align: center;
  } */
  